<html>
    <head>
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/js/underscore.js"></script>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            #map {
                height: 90%;
                width: 100%;
            }

            #get-tweet {
                font-size: 20;
                margin-top: 5px;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <div>
            <button id="get-tweet">Get Tweets</button>
        </div>
        <div id="timer"></div>

        <script>

            $("#get-tweet").on('click', getTweet);

            L.mapbox.accessToken = 'pk.eyJ1IjoiY2Fyb2xpbmVvcnNpIiwiYSI6ImJYQW4tLUkifQ.-h-le0HORavJ6JSMiafpQQ';
            map = L.mapbox.map('map', 'carolineorsi.kp9bed2n')
                .setView([39.0997, -94.5783], 4);


            function addMarker(lat, lng, color) {

                // L.marker([lat, lng], {
                //     icon: L.mapbox.marker.icon({
                //         'marker-size': 'small',
                //         'marker-color': color
                //     })
                // }).addTo(map);

                var circle = L.circleMarker([lat, lng], {
                    color: color,
                    fillColor: color,
                    opacity: 0.1,
                    fillOpacity: 1.0,
                    weight: 2,
                    radius: 5,
                }).addTo(map);

                var opacity = 1.0
                var radius = 5

                var burst = setInterval(function() {
                    opacity = opacity - 0.1;
                    radius ++;

                    circle.setStyle({
                        fillOpacity: opacity,
                        radius: radius,
                    });
                }, 100);

                setTimeout(function () {
                    clearInterval(burst);
                }, 1000);


            };

            function startTimer() {
                var clock = new Date();
                clock.setHours(08);
                clock.setMinutes(23);
                clock.setSeconds(30);
                $("#timer").text(clock.toString());

                setInterval(function() {
                    clock.setSeconds(clock.getSeconds() + 1000);
                    $("#timer").text(clock.toString());
                }, 1000);

            }

            function getTweet() {
                $.get(
                    '/get-tweet',
                    function(response) {
                        startTimer();

                        _.each(response.data, function(tweet) {
                            // console.log(tweet.time)
                            setTimeout(function() {
                                addMarker(tweet.latitude, tweet.longitude, tweet.color);
                            }, tweet.time);
                        }
                        );
                    }
                );
            }

        </script>

    </body>
</html>